@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@400;700&display=swap');
/* css reset */
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior:smooth ;
}


#navbar{
    display:flex;
    align-items: center;
    position:sticky;
    top:0px;
}
#navbar::before{
    content:"";
    background-color: black;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.5;
    top:0px;
    left:0px;
}
/* navigation bar: logo and image */
#logo{
    margin:10px 34px;
}
#logo img{
    height:59px;
    margin:3px 6px;
    border-radius: 50%;
}
#navbar ul{ 
    display:flex;
    font-family: 'Poppins', sans-serif;
    
}

.item{
    list-style:none;
    font-size:1.3rem;
}
#navbar ul li a{
    display:block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration:none;
    color:white;
    font-family: 'Bree Serif', serif;

    

}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}
/*home section */
#home{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:3px 200px;
    height:680px;

}
#home::before{
    content:"";
    position:absolute;
    background:url('./fooodservice1.png') no-repeat center center/cover;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.98;
    top:0px;
    left:0px;
}
.heading{
    font-size:3.8rem;
    padding:12px;

}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;

}
#home p{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    
}
.btn{
    padding:10px 25px;
    border:2px solid white;
    background-color:rgba(130, 8, 87, 0.711);
    color:white;
    margin:15px;
    font-size:1.5rem;
    border-radius:10px;
    cursor:pointer;
}
#services{
    display:flex;
    margin:35px;



}
.center{
    text-align:center;
    font-family: 'Bree Serif', serif;
}
.h-primary{
    font-size:3.8rem;
    padding:12px;
    font-family: 'Bree Serif', serif;

}
.h-secondry{
    font-size:2.2rem;
    padding:12px;
    font-family: 'Bree Serif', serif;

}
.box{
    border:2px solid brown;
    padding:34px;
    margin:3px 55px;
    border-radius:23px;
    background-color: rgb(247, 246, 246);
}
#services .box img{
    height:100px;
    display:block; /*then margin auto is working */
    margin:auto;

}
#services .box p{
    font-family: 'Bree Serif', serif;
    
}
#client-section{
    height:175px;
}
#client-section::before{
    content:"";
    position:absolute;
    background:url(./new.png);
    height:50%;
    width:100%;
    z-index:-1;
    opacity:0.30;

    
}
#clients{
    display:flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height:70px;
}
.client-item{
    padding:34px;
    height:50px
}
#contact{
    position:relative;
    top: 202px;
}
#contact::before{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.60;
    background:url(./contact1.png)no-repeat center center/cover;
}
footer{
    position:relative;
    top:200px;
    background:black;
    color:white;
    padding:8px;
    font-size: 0.7rem;
        
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items:center;
    padding-bottom:20px;
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width:40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
.bt{
    padding:10px 25px;
    border:2px solid white;
    background-color:rgba(8, 130, 26, 0.711);
    color:white;
    margin:15px;
    font-size:1.5rem;
    border-radius:10px;
    cursor:pointer;
    position:relative;
    left:220px
}